<form
  class="form-horizontal"
  autocomplete="off"
  #editCampusForm="ngForm"
  (ngSubmit)="save()"
  >
  <abp-modal-header
    [title]="'EditCampus' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="campus.name"
          #nameModel="ngModel"
          #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="address">
          {{ "Address" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="address"
            id="address"
            required
            minlength="2"
            maxlength="128"
            [(ngModel)]="campus.address"
            #addressModel="ngModel"
            #addressEl
            />
            <abp-validation-summary
              [control]="addressModel"
              [controlEl]="addressEl"
            ></abp-validation-summary>
          </div>
        </div>

    </div>
    <abp-modal-footer
      [cancelDisabled]="saving"
      [saveDisabled]="!editCampusForm.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
  </form>
